---
import Layout from '../layouts/Layout.astro';
import SocialPill from '../components/SocialPill.astro';
import SectionContainer from '../components/SectionContainer.astro'
import LinkedIn from '../icons/LinkedIn.astro';
import GitHub from '../icons/GitHub.astro';
import Services from '../components/Services.astro';
import Card from '../components/Card.astro';
---

<Layout title="annjudev - Porfolio de Juan Ram칤rez">
	<SectionContainer class="pt-40 pb-40">
		<div>
			<h2 class="text-6xl font-bold flex flex-col"><span class="text-xl">Hola! 游녦游낗游녦游낗</span> Soy Juan Ram칤rez</h2>
			<p class="text-xl pt-4 font-medium max-w-3xl">Desarrollador de software con experiencia en <strong class="text-yellow-500">automatizaciones</strong> y desarrollo de<strong class="text-yellow-500"> p치ginas web personalizadas</strong>.
				Cuento con m치s de un a침o dedic치ndome a ofrecer soluciones pr치cticas y eficientes, he trabajado en proyectos que han simplificado procesos y elevado la presencia digital de mis clientes.</p>
		</div>
		<section class="flex gap-3 pt-6">
			<SocialPill href="https://www.linkedin.com/in/annjudev/">
				<LinkedIn class="size-7"/>
				LinkedIn
			</SocialPill>
			<SocialPill href="https://github.com/annjudev">
				<GitHub class="size-7"/>
				GitHub
			</SocialPill>
		</section>
	</SectionContainer>
	<SectionContainer title="Servicios" id="services">
		<Services />
	</SectionContainer>
	<SectionContainer class="mt-20" title="Trabajos" id="works">
		<section class="grid grid-cols-8 grid-rows-2 gap-3">
			<Card title="Ambiente virtual de aprendizaje (AVA)" class="col-start-1 col-end-6" img="images/ses-ava-6.png">
				El Ambiente Virtual de Aprendizaje es la plataforma principal de la UNAD, dise침ada para que los estudiantes accedan y desarrollen sus cursos de manera aut칩noma, interactiva y eficiente.
			</Card>
			<Card title="BRTC - Bloque revisor tecnopedag칩gico de curso" class="col-start-6 col-end-9" img="images/brtc.png"/>
			<Card title="Revisor de instancia" class="col-start-1 col-end-4" img="images/instance-revisor.png">
				Es un validador y configurador, de las instancias. Permitiendo que todas esten correctamente configuradas para cada entrega. 
			</Card>
			<Card title="Club Valmaria" class="col-start-4 col-end-9" img="images/clubvalmaria.png">
				La p치gina de Club Valmaria es un sitio personalizado y desarrollado con WordPress, integrando herramientas clave para una experiencia funcional y atractiva.
			</Card>
		</section>
	</SectionContainer>
	<SectionContainer class="my-20" title="Sobre mi" id=about-me>
		<div class="flex justify-between">
			<div class="flex flex-col gap-3">
				<p>Soy un desarrollador de software <strong class="text-yellow-300">enfocado en la creaci칩n de soluciones que optimizan procesos y automatizan tareas.</strong> Desde joven, me apasiona el mundo de los computadores, lo que me llev칩 a aprender de forma autodidacta y capacitarme en plataformas como Platzi.</p>
				<p>Con un a침o de experiencia en la UNAD, <strong class="text-yellow-300">he desarrollado herramientas que han mejorado la eficiencia operativa</strong> mediante automatizaci칩n y sistemas personalizados. Mi enfoque est치 en entender las necesidades espec칤ficas de cada proyecto para entregar resultados funcionales y efectivos.</p>
				<p>Siempre busco mantenerme actualizado, garantizando soluciones innovadoras para mis clientes.</p>
			</div>
			<img class="w-[250px] bg-slate-800/55 rotate-12 -z-10 p-3 rounded border-2 border-slate-900 object-cover" src="juan-ramirez-foto.jpg" alt="">

		</div>
	</SectionContainer>
</Layout>

