---
const {
  title, 
  img, 
} = Astro.props
---

<article class={`${Astro.props.class} relative min-h-[22rem]`}>
  <div 
    class="
      absolute
      top-0 bottom-0 left-0 right-0
      bg-slate-600/30 rounded 
      bg-cover bg-center
      border-none flex 
      flex-col justify-end gap-2
      bg-blend-luminosity
      bg-no-repeat -z-10 w-full h-full
      "
    style=`background-image: url(${img});`>
    <div 
      class="
      absolute z-10 bottom-0 top-0 w-full h-full
      bg-gradient-to-b from-transparent via-black/40 to-black"></div>
    
    <div class="z-20 py-4 px-4 flex flex-col gap-4">
      <h4 class="font-bold text-2xl">{title}</h4>
      <p class="font-normal text-balance">
        <slot />
      </p>
    </div>
  </div>
</article>
