

<header class="w-full fixed py-4 top-0">
  <nav class="py-2 mx-auto m-auto max-w-96 px-3 rounded-full flex justify-center w-full">
    <!-- <a href="#home" class="flex pl-2 justify-center items-center gap-3">
      <img class="size-6 rounded-full" src="/juan-ramirez-foto.jpg" alt="">@annjudev</a> -->
    <ul class="flex justify-center w-full [&>li>a]:p-2 [&>li>a:hover]:text-yellow-300 font-medium text-base">
      <li><a href="#services">Servicios</a></li>
      <li><a href="#works">Trabajos</a></li>
      <li><a href="#about-me">Sobre mí</a></li>
      <li><a href="mailto:Juanchoramirez2001@gmail.com">Contancto</a></li>
    </ul>
  </nav>

  <script>
    window.addEventListener('scroll', () => {
      const nav = document.querySelector('nav')
      
      window.scrollY > 0 
      ? nav.classList.add('bottom')
      : nav.classList.remove('bottom')
      
    })
  </script>
</header>