---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="absolute inset-0 -z-10 h-full w-full bg-gray-950 bg-[radial-gradient(#262626_0.1px,transparent_1px)] [background-size:16px_16px]">
		<div >
			<slot />
		</div>
		<footer class="min-h-20 max-w-[900px] pb-12 text-gray-400/90 font-bold m-auto px-4">
			<div class="flex flex-col sm:flex-row items-center justify-between gap-4">
				<a href="/">@annjudev</a>
				<ul class="flex gap-4 justify-center">
					<li><a target="_blank" href="https://github.com/annjudev">Github</a></li>
					<li><a target="_blank" href="https://www.linkedin.com/in/annjudev/">LinkedIn</a></li>
					<li><a target="_blank" href="mailto:Juanchoramirez2001@gmail.com">Correo</a></li>
				</ul>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;	 
		font-family: "Onest", sans-serif;
		font-optical-sizing: auto;
	}
	:root {
		color-scheme: dark;
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		background-color: #23272F;
	}
	nav.bottom {
		background-color: #5f697cd0;
		transition: all 1s;
	}
	nav:not(.bottom) {
		transition: all .5s;
	}
</style>
